<div id="divGioHang" class="cart ">
    <a href="@Url.Action("XemGioHang","GioHang")">
            <div class="total">
                @ViewBag.TongTien.ToString("#,##") VND (@ViewBag.TongSL SP)
            </div>
        <img src="~/Content/images/cart.png" />
    </a>
    @*<p><a href="@Url.Action("XemGioHang","GioHang")">Empty Cart</a></p>*@

</div>

