
@{
    ViewBag.Title = "PreventAccess";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<span class="label label-danger">Ban Không có quyền truy cập..!!!!! @Html.ActionLink("Quay về trang chủ", "Index", "HomeLayout")</span>

