@using Web.Models;
@model PhieuNhap
@{
    ViewBag.Title = "NhapHang";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    IEnumerable<SanPham> lst = ViewBag.ListSanPham as IEnumerable<SanPham>;

}
@if (ViewBag.alert != null)
{
<div class="alert alert-danger col-md-12" id="AlertBox" style="display:none">@ViewBag.alert </div>
}
@using (Html.BeginForm("NhapHang", "SubmitListModel"))
{
    <div style="margin-bottom:10px;">
        Nhà Cung Cấp :@Html.DropDownList("MaNCC", null, new { @class = "col-m-6" })<br /><br />
        Ngày Nhâp    :<input name="NgayNhap" type="date"   />
    </div>
    <div class="clearfix"></div>
    <div>

        <table class="tbl" style="border:1px solid lightgrey;width:100%">
            <tr class="trAppend" style="display:none">
                <td>
                    <select class="ddlSanPham" name="">
                        @foreach (var item in lst)
                        {

                            <option value="@item.MaSP">@item.TenSP</option>

                        }
                    </select>

                </td>
                <td><input type="text" name="" class="txtdongia" id="txtdongia" /></td>
                <td><input type="text" name="" class="txtsoluong" id="txtsoluong"/></td>
                <td><input type="button" value="-" id="btndelete" class="btndelete btn btn-danger" /></td>
            </tr>

            <tr class="firstchild" data-id="-1">
                <td>Sản Phẩm</td>
                <td>Đơn Giá Nhập</td>
                <td>Số Lượng Nhập</td>
            </tr>
        </table>
        <input type="button" value="+" id="btnadd" class="btn btn-success" />
        <input type="submit" value="Nhập Hàng" id="btnnhaphang" class="btn btn-primary" />

    </div>
}


