@using Web.Models;
@model IEnumerable<LoaiSanPham>
<div class="col-md-3 product-price">
    <div class="rsidebar span_1_of_left">
        <div class="of-left">
            <h3 class="">Danh Mục</h3>
        </div>
        <ul class="">
            @foreach (var groupitem in Model)
            {
                if (groupitem != null)
                {
                    <li class="">
                        <a href="#" style="margin-left:0"><span class="glyphicon glyphicon-book" >--</span>@groupitem.TenLoai</a>
                    </li>
                }
            }
        </ul>
    </div>
    <!--initiate accordion-->
    <script >
        $(function () {
            var menu_ul = $('.menu > li > ul'),
                   menu_a = $('.menu > li > a');
            menu_ul.hide();
            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>
    <!---->
    <div >
        <div class="of-left-in">
            <h3 class="">Tags</h3>
        </div>
        <div class="tags">
            <ul style="li{border:1px solid blue}">
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Laptop</a></li>
                <li><a href="#">Ipad</a></li>
                <li><a href="#">Chip</a></li>
                <li><a href="#">DELL</a></li>
                <li><a href="#">HP</a></li>
                <li><a href="#">Lenovo</a></li>
                <li><a href="#">ASUS</a></li>
                <li><a href="#">ACER</a></li>
                <li><a href="#">Ram</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">APPLE</a></li>

                <div class="clearfix"> </div>
            </ul>

        </div>

    </div>
    <!---->
</div>
